{% extends 'index.html' %}

{% block title %}
    <title>Create</title>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    </head>
{% endblock %}

{% block content %}
    <h1>Create Page  <i class="fa fa-pen" style="font-size: 15px;"></i></h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button type = "submit">작성  <i class="fa fa-ghost"></i></button>
    </form>
{% endblock %}